.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/*.zip
esbuild.mjs
eslint.config.mjs
.vscode-test.mjs
.nvmrc
